<div class="container">
  <div class="row">
    
    <div class="col-3 mt-5 " *ngFor="let shirt of getshirts()">
      <div class="card position-relative
             shadow-lg p-3 mb-5 bg-white rounded text-center">
        <span class="badge badge-pill badge-danger position-absolute">{{shirt.pr}}</span>
        <img src="{{shirt.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{shirt.name}}</h5>
          <h4 class="card-title">&#8377;{{shirt.price*shirt.per}}<br><small><del>&#8377;{{shirt.price}}</del></small>
          </h4>
          <p class="card-text"></p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button (click)="addToCart(shirt)" class="btn btn-primary">Add to Cart</button>

        </div>
      </div>
    </div>
  </div>
</div>