<div class="container">
    <div class="row">
        <div class="col-3 mt-5 " *ngFor="let s of getshirts()" >
            <div class="card shadow-lg p-3 mb-5 bg-white rounded text-center" >
                <img src="{{s.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{s.name}}</h5>
                  <h4 class="card-title">&#8377;{{s.price}}</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button href="javascript:void()"  (click)="addToCart(p)" class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
        </div>
    </div>
</div>