<!-- <ul *ngFor="let c of getcart()">
    <img src="{{c.image}}">
    <li>{{c.name}}</li>
    <li>{{c.price}}</li>
</ul> -->
<table class="table table-bordered table-dark text-center">
    <thead>
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cart let i=index" >
       
        <td>{{i+1}}</td>
        <img src="{{cartItems[car].image}}">
        <td>{{cartItems[car].name}}</td>
        <td>{{cartItems[car].price}}</td>
       <input type="number" (input)="getTotal()"  [(ngModel)]="cartItems[car].quantity">
        <td>{{cartItems[car].quantity*cartItems[car].price}}</td>
        <td><button class="btn btn-danger" (click)="del()" >delete</button></td>
      
      </tr>
   
    </tbody>
  </table>
  <h1>{{total}}</h1>
